*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    min-width: 720px;
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2e627a;
    background-image: radial-gradient(ellipse at top, #2e2c6a, transparent),
                      radial-gradient(ellipse at bottom, #680c5f, transparent);
    background-size: contain;
    color: #FFF;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

section {
    width: 100%;
    display: block;
    background-color: rgba(0,0,0,0.44);
}
section > .content {
    padding:24px;
    padding-top: 0px;
}

section + section {
    margin-top: 1em;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: Dosis, sans-serif;
    font-weight: 700;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: Dosis, sans-serif;
    font-weight: 700;
}

p.center {
    text-align: center;
}

header section {
    padding: 24px;
}
header img {
    float: left;
    width: 64px;
    height: 64px;
    margin-right: 4px;
    position:relative;
    top: 5px;
}

header h1 {
    font-size: 42px;
}

header h2 {
    font-size: 16px;
    margin-left: 1em;
}

#clocks {
    text-align: center;
}

.clock {
    display: inline-block;
    width: 350px;
    margin: 10px;
}

@media only screen and (max-width:1495px){
    .clock {
        width: 39%;
        margin: 1% 5%;
    }
}

main section>h1{
    padding: 24px;
}
main section>h1::after {
    display: block;
    content: "_";
    background: transparent;
    border: 0;
    float: right;
    position: relative;
    top: -1em;
    font-size: inherit;
    font-family: Dosis, sans-serif;
    font-weight: 700;
    color: white;
}
main section>h1:hover,
main section>h1:hover::after {
    text-shadow: 1px 1px 6px rgba(255,255,255,.44);
}


#clocks h1 {
    font-size: 18px;
}

#clocks h2 {
    font-family: "Overpass Mono", monospace;
    font-size: 30px;
    font-weight: 400;
}

#events table {
    width: 710px;
    margin: auto;
    border-collapse: collapse;
}

#events table tr>th {
    background: rgba(0,0,0,.44);
}

#events img {
    width: 350px;
    height: auto;
}

#events table td {
    text-align: center;
    width: 50%;
}

#event-timer-na,
#event-timer2-na,
#event-timer-jp,
#event-timer2-jp {
    font-family: "Overpass Mono", monospace;
}

#time-table input[type='checkbox'] {
    display:none;
}

#time-table label {
    user-select: none;
}

#time-table input[type='checkbox'] + label::before {
    display: inline-block;
    background-color: red;
    border-radius: .5em;
    width: 1em;
    height: 1em;
    margin: 0px 4px;
    content: '';
}

#time-table input[type='checkbox']:checked + label::before {
    background-color: green;
}

#time-table table {
    width: 710px;
    margin: auto;
    border-collapse: collapse;
}

#time-table table tr>th,
#time-table table tbody>tr:hover>td {
    background: rgba(0,0,0,.44);
}

#time-table table tbody tr>td:nth-child(1),
#time-table table tbody tr>td:nth-child(2) {
    font-family: "Overpass Mono", monospace;
}

#time-table table tbody tr>td:not(:last-of-type) {
    text-align: center;
}

#time-table table tbody tr>td:nth-child(1) {width: 89px;}
#time-table table tbody tr>td:nth-child(2) {width: 99px;}
#time-table table tbody tr>td:nth-child(3) {width: 55px;}

#ap-calc table {
    width: 710px;
    margin: auto;
    border-collapse: collapse;
}

#ap-calc input[type="number"] {
    background-color: #1e1c5a;
    color: #fff;
    padding: 0.25em 0.33em;
    font-size: inherit;
    font-family: "Overpass Mono", monospace;
    border: 1px solid #806c2b;
    border-radius: .44em;
    width: 64px;
}

#ap-calc table tr:first-of-type > td:last-of-type {
    font-size: 18px;
    text-align: center;
}

#links table {
    width: 710px;
    margin: auto;
    border-collapse: collapse;
}

#links table tr>th {
    background: rgba(0,0,0,.44);
}

#links table td {
    vertical-align: top;
}

#links table a {
    color: white;
}
