*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    min-width: 720px;
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2e627a;
    background-image: radial-gradient(ellipse at top, #2e2c6a, transparent),
                      radial-gradient(ellipse at bottom, #680c5f, transparent);
    background-size: contain;
    color: #FFF;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

/*
 * SECTIONS
 */
section {
    width: 100%;
    display: block;
    background-color: rgba(0,0,0,0.44);
}
section > .content {
    font-size: 16px;
    padding: 1.26vw;
    padding-top: 0px;
}
section + section {margin-top: 1em}
h1 {
    margin: 0;
    padding: 0;
    font-family: Dosis, sans-serif;
    font-weight: 700;
}
h2 {
    margin: 0;
    padding: 0;
    font-family: Dosis, sans-serif;
    font-weight: 700;
}
p.center {text-align: center}
main a {color: white}

/*
 * HEADER
 */
header section {padding: 24px}
header img {
    float: left;
    width: 64px;
    height: 64px;
    margin-right: 4px;
    position:relative;
    top: 5px;
}
header h1 {font-size: 42px}
header h2 {font-size: 16px}

/*
 * RESPONSIVE HEADINGS AND CLOCKS
 */
#clocks {
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
.clock {
    display: inline-block;
    width: 33%;
    margin: 1% 0;
}
.clock h1 {font-size: 1.4vw}
.clock h2 {
    font-family: "Overpass Mono", monospace;
    width: 100%;
    font-size: 2.25vw;
    font-weight: 400;
}
main section>h1{
    padding: 0.9em;
    font-size: 1.4vw;
}
main section>h1::after {
    display: block;
    content: "_";
    background: transparent;
    border: 0;
    float: right;
    position: relative;
    top: -1em;
    font-size: inherit;
    font-family: Dosis, sans-serif;
    font-weight: 700;
    color: white;
}
main section>h1:hover,
main section>h1:hover::after {
    text-shadow: 1px 1px 6px rgba(255,255,255,.44);
}
@media (max-width: 1280px) {
    .clock h1 {font-size: 17.92px}
    .clock h2 {font-size: 28.8px}
    main section>h1 {font-size: 17.92px}
    section > .content {
        padding: 16.128px;
        padding-top: 0;
    }
}

/*
 * EVENTS
 */
#events table {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border-collapse: collapse;
}
#events table tr>th {background: rgba(0,0,0,.44)}
#events img {
    width: 99%;
    height: auto;
}
#events table td {
    text-align: center;
    width: 50%;
}
#events.timers-monospace table tbody td span.timer {font-family: "Overpass Mono", monospace}

/*
 * TIME TABLE
 */
#time-table table {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border-collapse: collapse;
}
#time-table table tr>th,
#time-table table tbody>tr:hover>td {
    background: rgba(0,0,0,.44);
}
#time-table table tbody tr>td:nth-child(1),
#time-table table tbody tr>td:nth-child(2) {
    font-family: "Overpass Mono", monospace;
}
#time-table table tbody tr>td:not(:last-of-type) {text-align: center}
#time-table table tbody tr>td:nth-child(1) {width: 89px}
#time-table table tbody tr>td:nth-child(2) {width: 99px}
#time-table table tbody tr>td:nth-child(3) {width: 55px}

/*
 * AP CALC
 */
#ap-calc table {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border-collapse: collapse;
}
#ap-calc input[type="number"] {
    background-color: #1e1c5a;
    color: #fff;
    padding: 0.25em 0.33em;
    font-size: inherit;
    font-family: "Overpass Mono", monospace;
    border: 1px solid #806c2b;
    border-radius: .44em;
    width: 64px;
}
#ap-calc table tr:first-of-type > td:last-of-type {
    font-size: 18px;
    text-align: center;
}
#ap-calc table .output {width: 75%}

/*
 * LINKS
 */
#links table {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border-collapse: collapse;
}
#links table tr>th {background: rgba(0,0,0,.44)}
#links table td {vertical-align: top}

/*
 * RADIO INPUTS
 */
.radio-wrapper {
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
    white-space: nowrap;
}
.radio-wrapper input {display:none}
.radio-wrapper label {
    margin: 0;
    background-color: #1e1c5a;
    color: #fff;
    padding: 0.25em 0.33em;
    font-size: inherit;
    font-family: "Noto Sans", sans-serif;
    border: 1px solid #806c2b;
}
.radio-wrapper label:first-of-type {
    border-top-left-radius: .44em;
    border-bottom-left-radius: .44em;
}
.radio-wrapper label:last-of-type {
    border-top-right-radius: .44em;
    border-bottom-right-radius: .44em;
}
.radio-wrapper input:not(:checked) + label {background-image: linear-gradient(to top, #0e1621, transparent 50%)}
.radio-wrapper input:not(:checked) + label:not(:hover) {opacity: 0.55}
.radio-wrapper input:checked + label {
    color: #FD0;
    background-image: linear-gradient(to bottom, #314c73, transparent 50%);
}

/*
 * MODALS
 */
#modals {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    padding: 1em;
    background-color: #1e1c5a;
    border: 1px solid #806c2b;
    border-radius: 2em;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .44);
}
.modal-buttons {
    width: 100%;
    text-align: right;
}
.modal-buttons > button {
    margin-top: 0.5em;
    display: inline-block;
}
.modal-buttons > button + button {margin-left: 1em}
button.button-cancel {
    font-size: inherit;
    border-radius: .44em;
    display: block;
    width: 1em;
    height: 1em;
    padding: 0;
    background-color: transparent;
    background-image: url('img/icons/close.png');
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
    float: right;
    position: relative;
}
button.button-cancel:hover {box-shadow: 1px 1px 6px rgba(255, 221, 0, .44)}

/*
 * NAVIGATION
 */
nav {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 2px;
    padding-left: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 36px 12px;
}
nav button.nav-button {
    border: 0;
    background-color: transparent;
    margin: auto;
    padding-left: 32px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: center;
    font-family: "Dosis", sans-serif;
    font-size: 24px;
    color: white;
}
nav button#nav-button-settings {background-image: url('img/icons/settings.png')}
